.singleLayout {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.splitLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background: var(--bg);
}

.viewPane {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
